<div class = "edit_article">
  <%= simple_form_for @article do |f| %>
    <%= f.input :title %>
    <%= f.input :subtitle %>
    <%= f.input :content, as: :text %>
    <%= f.button :submit %>
  <% end %>
</div>