<div id="projects_editing">
  <%= simple_form_for @new_project do |f| %>
    <%= f.input :title %>
    <%= f.input :description, as: :text %>
    <%= f.input :file_name %>
    <%= f.button :submit %>
  <% end  %>

  <% @projects.each do |project|  %>
    <%= render partial: "project_list", locals: {project: project, daily: @daily_pass}%>
  <% end %>
</div>
